link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
|     
link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
|     
link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
|     
script(type='text/javascript', src='/javascripts/jquery.js')
|     
script(type='text/javascript', src='/javascripts/velocity.min.js')
|     
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/utils.js')
script(type='text/javascript', src='/javascripts/index.js')
